body
{
    background-color:white;
}
h1
{
    background-color:white;
    text-align:center;
    font-weight:bold;
    text-decoration:underline;
    font-size: 28pt;
    font-family: Arial;

}
table, th, td
{
    border: 1px solid black;
    text-align: center;
    font-family: Arial;
}
th
{
    text-align: center;
    font-weight: 900;
    width: 250px;
    font-size: 20pt;
}
td
{
	 width: 250px;
	 height: 30px;
	 font-size: 16pt;
}
	

